$background00: #060100;
$background10: #161211;
$background15: #201b1a;
$background20: #282322;
$background20Tint: rgba(40,35,34,0.5);
$background25: #312c2a;
$background30: #393433;
$background40: #4a4644;

$text10: #EEE;
$text20: #DDD;
$text30: #CCC;

$qColor: #CA4;
$highlightBorderColor: #ff6;
$categoryHoverBorder: #aaf;
$categoryHoverGlow: #8080ff;

$columnHeaderHoverBackground: #8080ff;
$rowHoverStart: transparentize($columnHeaderHoverBackground, 1);
$rowHoverEnd: transparentize($columnHeaderHoverBackground, 0.4);

$subsubCategoryHoverStart: transparentize($columnHeaderHoverBackground, 0.9);
$subsubCategoryHoverEnd: $rowHoverEnd;
$rowHighlightColor: #e6b335;
$subsubCategoryBackgroundStart: transparentize($rowHighlightColor, 0.9);
$subsubCategoryBackgroundEnd: transparentize($rowHighlightColor, 0.4);

$buttonRed: #640000;
$buttonText: #ffd100;

$priceChart: #88F;
$quantityChart: #F88;

$fontArial: "Arial Narrow", sans-serif;
$fontSizeArial: 19px;
$fontFriz: "Friz Quadrata TT", sans-serif;
$fontSizeFriz: 16px;

$borderRadius: 8px;
$marginStep: 8px;
$thin: 1px;
$bevel: 2px;

$pageMinHeight: 400px;
$pageMaxHeight: 800px;
$pageMaxWidth: 1050px;

$categoryMinWidth: 150px;
$categoryMaxWidth: 200px;
$priceWidth: 175px;
$silverWidth: 30px;

$tooltipBorderSize: 1px;
$tooltipPadding: 8px;
@mixin tooltip {
  background-color: rgba(1, 7, 33, 0.8);
  border: $tooltipBorderSize solid;
  border-color: #cfcfcf #777 #7f7f7f;
  border-radius: 4px;
  box-shadow: 0 0 1px 1px black;
  padding: $tooltipPadding;
  z-index: 10;
}

@mixin button {
  background-color: $background20;
  border: $bevel solid;
  border-color: $background30 $background25 $background10;
  border-radius: $borderRadius * 0.75;
  color: $text10;
  font: $fontSizeFriz * 0.8 $fontFriz;
  text-shadow: $thin $thin $thin * 2 #000;

  &:hover {
    background-color: $columnHeaderHoverBackground;
    box-shadow: inset 0 0 10px 10px $background20;
  }
}

@mixin button-red {
  @include button();

  $borderUpper: mix($buttonRed, #CCC, 90%);
  $borderLower: mix($buttonRed, #000, 70%);
  background-color: $buttonRed;
  border-color: $borderUpper $borderUpper $borderLower;
  color: $buttonText;
  font-size: $fontSizeFriz * 1.1;

  &:hover {
    background-color: mix($buttonRed, #FFF, 95%);
    box-shadow: none;
    color: $text10;
  }
}

@font-face {
  font-family: "Arial Narrow";
  src: url("../fonts/arialn.ttf") format("truetype");
}
@font-face {
  font-family: "Friz Quadrata TT";
  src: url("../fonts/frizqt__.ttf") format("truetype");
}

$scrollbarThumb: $background40;
$scrollbarTrack: $background10;

* {
  scrollbar-width: thin;
  scrollbar-color: $scrollbarThumb $scrollbarTrack;

  &::-webkit-scrollbar {
    width: 16px;

    &-track {
      background: $scrollbarTrack;
    }

    &-thumb {
      background-color: $scrollbarThumb;
      border: 4px solid $scrollbarTrack;
    }
  }
}

input[type="number"] {
  &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  -moz-appearance: textfield;
}

body {
  align-items: center;
  background-color: $background00;
  color: $text10;
  display: flex;
  font: 16px sans-serif;
  min-height: $pageMinHeight;
  height: 100vh;
  margin: 0;

  a {
    color: $text10;
  }
}

.main {
  background-color: $background30;
  border-radius: $borderRadius;
  box-sizing: border-box;
  display: flex;
  height: 100vh;
  flex-direction: column;
  margin: 0 auto;
  min-height: $pageMinHeight;
  max-height: $pageMaxHeight;
  max-width: $pageMaxWidth;
  user-select: none;
  width: 100%;

  .search-bar {
    display: flex;
    margin: $marginStep $marginStep 0;

    & > * {
      flex: 1 1;
      margin: $marginStep;
    }

    select, input[type="text"], input[type="number"], > div.filter, button {
      font: $fontSizeFriz * 0.8 $fontFriz;
    }
    select, input[type="text"] {
      background-color: $background20;
      border: $bevel solid;
      border-color: $background00 $background00 $background40;
      border-radius: $borderRadius;
      color: $text10;
      padding: $marginStep / 2;
    }
    div.text-container {
      flex: 5 1;
      position: relative;

      .text-reset {
        background-image: url("../images/clear-search.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        bottom: 0;
        opacity: 0.5;
        position: absolute;
        right: $marginStep * 0.5;
        top: 0;
        width: 1em;
        z-index: 10;

        &:hover {opacity: 1}
      }

      $textLeftPadding: 2em;

      input[type="text"] {
        background-image: linear-gradient($background20Tint, $background20Tint), url("../images/eyeglass.png");
        background-position: 3px center;
        background-repeat: no-repeat;
        background-size: 1.25em;
        box-sizing: border-box;
        height: 100%;
        padding-left: $textLeftPadding;
        width: 100%;

        &:placeholder-shown + .text-reset {display: none}
      }

      .datalist {
        @include tooltip();
        background-color: $background20;
        box-sizing: border-box;
        display: none;
        font: $fontSizeFriz * 0.8 $fontFriz;
        max-height: calc((1.333em + #{$marginStep}) * 4 + #{$tooltipBorderSize} * 2);
        left: $textLeftPadding;
        overflow-y: auto;
        padding: 0;
        position: absolute;
        top: calc(100% + 2px);
        width: calc(100% - #{$textLeftPadding});

        div {
          $iconBorderSize: 1px;
          $iconMargin: 5px;
          $iconSize: $fontSizeFriz;

          cursor: pointer;
          overflow: hidden;
          padding: $marginStep * 0.5 $tooltipPadding;
          padding-left: $marginStep * 0.5 + $iconSize + 2 * $iconBorderSize + $iconMargin + $tooltipPadding;
          position: relative;
          text-overflow: ellipsis;
          white-space: nowrap;

          &:empty {
            display: none;
          }

          &.selected {
            background-color: $background30;
            font-weight: bold;
          }

          img {
            border: $iconBorderSize solid #808080;
            border-right-color: #555;
            border-bottom-color: #555;
            border-radius: 4px;
            height: $iconSize;
            left: $marginStep * 0.5 + $tooltipPadding;
            position: absolute;
            top: 3px;
            width: $iconSize;
          }
        }
      }

      &[data-with-focus] .datalist[data-with-items] {
        display: block;
      }
    }
    button, > div.filter, > div.favorite {
      @include button();

      &.favorite {
        background-image: url('../images/favorite-star-off.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: calc(100% - 2px);
        flex: 0 0 auto;
        width: 2em;

        &[data-enabled] {
          background-image: url('../images/favorite-star.png');
        }

        &:hover {
          background-color: $background20;
          box-shadow: none;
        }
      }
      &.search {
        @include button-red();
      }
      &.filter {
        align-items: center;
        display: flex;
        justify-content: center;
        line-height: 2;
        padding-right: 1em;
        position: relative;

        @media screen and (max-height:500px) {
          line-height: 1;
        }
        &::after {
          background-image: url("../images/triangle-arrow.png");
          background-size: contain;
          background-position: center center;
          background-repeat: no-repeat;
          bottom: 0;
          content: "";
          position: absolute;
          right: 4px;
          top: 0;
          width: 0.666em;
        }

        div {
          @include tooltip();
          display: none;
          min-width: 15em;
          position: absolute;
          right: calc(-100% - #{2 * ($marginStep + 2 * $bevel)});
          text-align: left;
          top: calc(100% + #{2 * $bevel});
          width: calc(200% + #{2 * $bevel});

          input {
            margin: 0;
            position: relative;
            top: 2px;
          }

          input[type="number"] {
            background-color: $background20;
            border: $bevel solid;
            border-color: $background00 $background00 $background40;
            border-radius: $borderRadius;
            color: $text10;
            padding: 0 0.5em;
            text-align: right;
            width: 3em;
          }

          table.rarity td:first-child {text-align: right}
        }
      }
    }
  }

  .main-result {
    display: flex;
    flex: 1 1;

    & > div {
      margin: $marginStep
    }

    .categories {
      bottom: $marginStep / 2;
      left: $marginStep / 2;
      overflow-y: auto;
      position: absolute;
      right: $marginStep / 2;
      top: $marginStep / 2;

      &::-webkit-scrollbar-thumb {
        border-right:0;
        border-left-width:6px;
      }

      &-parent {
        background-color: $background10;
        border: $bevel solid;
        border-color: $background00 $background10 $background40;
        border-radius: $borderRadius;
        flex: 2 1;
        position: relative;
        margin: $marginStep 0 $marginStep $marginStep;
        max-width: $categoryMaxWidth;
        min-width: $categoryMinWidth;
      }

      & > div {
        background-color: $background20;
        border: $bevel solid;
        border-color: $background30 $background20 $background10;
        border-radius: $borderRadius;
        color: $qColor;
        cursor: pointer;
        font: $fontSizeFriz * 0.85 $fontFriz;
        margin: $marginStep / 2 0;
        overflow: hidden;
        padding: $marginStep * 0.5 $marginStep * 0.75;
        text-overflow: ellipsis;
        text-shadow: $thin $thin $thin #000;
        white-space: nowrap;

        &:first-child {
          margin-top: 0
        }

        &[data-selected] {
          box-shadow: inset 0 0 8px 2px $highlightBorderColor;
        }

        &:hover {
          border-color: $categoryHoverBorder;
          box-shadow: inset 0 0 20px 2px $categoryHoverGlow;
          color: $text10;
        }
      }

      .subcategory, .subsubcategory {
        color: $text20;
        margin-left: $marginStep * 2;

        &:not([data-visible]) {
          display: none
        }
      }

      .subsubcategory {
        background-color: transparent;
        border: 0;
        border-radius: 0;
        padding-left: $marginStep * 2;
        position: relative;
        &:after {
          background-image: url("../images/subsub.png");
          background-repeat: no-repeat;
          background-size: contain;
          bottom: 4px;
          content: '';
          left: $marginStep * 0.5;
          position:absolute;
          top: 4px;
          width: $marginStep;
        }

        &[data-selected] {
          box-shadow: none;
          background: linear-gradient(90deg, $subsubCategoryBackgroundStart 0%, $subsubCategoryBackgroundEnd 40%, $subsubCategoryBackgroundEnd 60%, $subsubCategoryBackgroundStart 100%);
        }

        &:hover {
          box-shadow: none;
          background: linear-gradient(90deg, $subsubCategoryHoverStart 0%, $subsubCategoryHoverEnd 40%, $subsubCategoryHoverEnd 60%, $subsubCategoryHoverStart 100%);
        }
      }
    }

    .welcome {
      font: $fontSizeFriz $fontFriz;
      padding: $marginStep;

      h1:first-child {margin-top: 0}

      .full-screen {
        display: none;
        margin: 2em 0;

        &[data-available] {
          display: block;
        }

        .main:full-screen &, .main:-webkit-full-screen &, .main:-moz-full-screen & {
          display: none;
        }

        button {
          @include button();
          margin: 0 2em;
          padding: $marginStep;
        }
      }
    }

    .search-result, .item {
      flex: 7 1;
      font: $fontSizeArial $fontArial;
      position: relative;
    }

    .search-result {
      background-color: $background10;
      background: linear-gradient(180deg, $background10 0%, $background15 100%);
      border: $bevel solid;
      border-color: $background00 $background10 $background40;
      border-radius: $borderRadius;

      .search-result-border {
        border: $thin solid $background30;
        border-top: 0;
        border-radius: $borderRadius / 2;
        bottom: $marginStep / 2;
        left: $marginStep / 2;
        overflow-y: auto;
        position: absolute;
        right: $marginStep / 2;
        top: $marginStep / 2;

        &:empty {display: none}

        &.processing {
          overflow-y: hidden;
          pointer-events: none;

          table {
            opacity: 0.3;
          }

          @keyframes spinner {
            0% {
              transform: rotate(0);
            }
            100% {
              transform: rotate(360deg);
            }
          }

          &.spinner:after {
            animation: linear infinite spinner 1.75s;
            background-image: url("../images/loading.png");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            content: '';
            position: absolute;
            top: 20%;
            left: 20%;
            right: 20%;
            bottom: 20%;
          }
        }
      }

      table {
        border-radius: $borderRadius $borderRadius 0 0;
        border-spacing: 0;
        width: 100%;

        thead {
          background-color: $background20;
          border-radius: $borderRadius $borderRadius 0 0;
          font: $fontSizeFriz * 0.8 $fontFriz;

          td {
            border: $thin solid $background40;
            border-bottom-color: $background30;
            border-radius: $borderRadius / 2 $borderRadius / 2 0 0;
            cursor: pointer;
            padding: $marginStep / 2 0 $marginStep / 2 $marginStep / 2;
            &:first-child {border-left: 0}
            &:last-child {border-right: 0}

            &[data-sort]::after {
              background-image: url("../images/sort-arrow.png");
              background-repeat: no-repeat;
              background-size: contain;
              content: "";
              display:inline-block;
              height: 1em;
              margin-left: 0.25em;
              position: relative;
              top: 2px;
              width: 1em;
            }
            &[data-sort="asc"]::after {
              transform:scaleY(-1);
            }

            &:hover {
              background-color: $columnHeaderHoverBackground;
              box-shadow: inset 0 0 10px 10px $background20;
            }
          }
        }

        tbody {
          $iconBorderSize: 1px;
          $iconMargin: 6px;
          $iconSize: $fontSizeArial - 2 * $iconBorderSize;

          tr {transform: translateY(0);
            a {bottom:0; left:0; position:absolute; right:0; top:0; z-index:5}

            &.vendor-flip {
              background: linear-gradient(90deg,
                transparentize($rowHighlightColor, 0.9) 0%,
                transparentize($rowHighlightColor, 0.4) 40%,
                transparentize($rowHighlightColor, 0.4) 60%,
                transparentize($rowHighlightColor, 0.9) 100%
              );
            }
            &:hover {
              background: linear-gradient(90deg, $rowHoverStart 0%, $rowHoverEnd 20%, $rowHoverEnd 80%, $rowHoverStart 100%);

              span.favorite {visibility: visible !important}
            }

            &:not(.message):nth-child(n+500) {
              display: none;
            }

            &.message {
              td {
                padding: $marginStep * 2;
                text-align: center;
              }
              &:hover {
                background: unset;
              }
            }
          }
          td {
            padding: $marginStep / 4 $marginStep;
            &.price {
              text-align: right;
              width: $priceWidth;
              .silver {display: inline-block; width: $silverWidth}
            }

            &.name {
              max-width: 0;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              width: 50%;

              a {text-decoration: none}
              img {
                border: $iconBorderSize solid #808080;
                border-right-color: #555;
                border-bottom-color: #555;
                border-radius: 4px;
                height: $iconSize;
                margin-right: 6px;
                position: relative;
                top: 2px;
                width: $iconSize;
              }
            }

            &.quantity {
              padding-right: $iconSize;
              .delta-timestamp {
                font-size: 70%;
                padding-left: 1em;
                white-space: nowrap;
              }
              span.favorite {
                background-image: url('../images/favorite-star-off.png');
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
                bottom: 0;
                position: absolute;
                right: 0;
                top: 0;
                visibility: hidden;
                width: $iconSize + 2 * $iconBorderSize;
                z-index: 10;

                &[data-favorite] {
                  background-image: url('../images/favorite-star.png');
                  visibility: visible;
                }
              }
            }
          }
          &[data-side-icon] td.name {
            img {margin-left: $iconSize + $iconMargin + 2 * $iconBorderSize;}
            &[data-side-icon] img {margin-left:0}
          }
        }
      }
    }

    .item {
      display: none;
      flex-direction: column;

      button {
        @include button-red();

        padding:0 3em;
      }

      .back-bar {
        align-items: flex-end;
        display: flex;
        justify-content: space-between;
        margin: $marginStep;

        .alt-realm {
          flex: 1 1;
          margin: 0 $marginStep;
          text-shadow: $thin $thin $thin #000;
        }

        .available {
          color: $qColor;
          font: $fontSizeFriz * 0.9 $fontFriz;
          text-shadow: $thin $thin $thin #000;
        }
      }

      .panels {
        display: flex;
        flex: 1 1;

        & > div {
          border: $bevel solid;
          border-color: $background00 $background10 $background40;
          border-radius: $borderRadius;
          padding: $marginStep / 2;
          position: relative;

          .scroller {
            bottom: $marginStep / 2;
            left: $marginStep / 2;
            overflow-y: auto;
            position: absolute;
            right: $marginStep / 2;
            top: $marginStep / 2;
          }

          &.details {
            $panelBackground: $background20;
            background-color: $panelBackground;

            flex: 14 1;

            .title {
              align-items: center;
              background-color: $background15;
              border: $bevel solid;
              border-color: $background00 $background10 $background40;
              border-radius: $borderRadius;
              display: flex;
              font: $fontSizeFriz * 1.75 $fontFriz;
              margin: 2 * $marginStep;
              padding: 2 * $marginStep;

              a {
                text-decoration: none;
              }

              .icon {
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
                border-radius: 2em;
                display: inline-block;
                height: 2em;
                margin-right: 0.75em;
                position: relative;
                width: 2em;

                &:after {
                  background-image: url("../images/ring-1.png");
                  background-position: center center;
                  background-repeat: no-repeat;
                  background-size: contain;
                  bottom: -0.5em;
                  content: "";
                  left: -0.5em;
                  position: absolute;
                  right: -0.5em;
                  top: -0.5em;
                }
                &[data-quality="0"]:after {background-image: url("../images/ring-0.png")}
                &[data-quality="2"]:after {background-image: url("../images/ring-2.png")}
                &[data-quality="3"]:after {background-image: url("../images/ring-3.png")}
                &[data-quality="4"]:after {background-image: url("../images/ring-4.png")}
                &[data-quality="5"]:after {background-image: url("../images/ring-5.png")}
              }
            }

            .framed {
              border-top: $bevel solid $background30;
              margin: $marginStep * 4 $marginStep;
              padding: $marginStep * 2 $marginStep * 0.5 $marginStep * 0.5;
              position: relative;

              .frame-title {
                background-color: $panelBackground;
                color: $text20;
                font: $fontSizeArial * 0.8 $fontArial;
                left: $marginStep;
                line-height: 1.25em;
                padding: 0 $marginStep;
                position: absolute;
                top: -0.625em;
              }
            }

            .quantity-calc, .base-stats {
              table {
                margin: 0 auto;
                td {
                  text-align: right;
                  width: 7em;

                  &:first-child {
                    padding: 0.25em 1em 0.25em 0;
                  }
                }
                tr.header td, td:first-child {
                  color: $qColor;
                  font: $fontSizeFriz $fontFriz;
                  vertical-align: middle;
                  width: auto;
                }
              }

              input {
                background-color: $background10;
                border: $bevel * 2 + 1px double;
                border-color: $background40;
                border-radius: $borderRadius;
                box-sizing: border-box;
                color: $text10;
                font: $fontSizeArial $fontArial;
                padding: $marginStep / 2 $marginStep;
                width: 100%;
              }

              .price {display: inline-block; text-align: right}
              .silver {display: inline-block; width: $silverWidth}
            }

            .charts-container {
              margin: $marginStep;

              .chart-wrapper {
                background-color: $background15;
                border: $bevel solid;
                border-color: $background00 $background10 $background40;
                border-radius: $borderRadius;

                box-sizing: border-box;
                overflow: hidden;
                position: relative;

                svg {
                  height: 100%;
                  position: absolute;
                  top: $bevel;
                  width: 100%;

                  * {
                    pointer-events: none;
                  }
                }

                line, polyline {
                  stroke-width: 15;
                }

                polyline.price {
                  fill: none;
                  stroke: $priceChart;
                }
                polygon.price {
                  fill: transparentize($priceChart, 0.5);
                }

                polyline.quantity {
                  fill: none;
                  stroke: $quantityChart;
                }
                polygon.quantity {
                  fill: transparentize($quantityChart, 0.5);
                  stroke: $quantityChart;
                }

                line.hover {
                  stroke: $qColor;
                  visibility: hidden;
                }
                &:hover line.hover {
                  visibility: visible;
                }
              }
            }

            .other-realms-container {
              .check-container {
                text-align: right;
              }

              .list {
                background-color: $background15;
                border: $bevel solid;
                border-color: $background00 $background10 $background40;
                border-radius: $borderRadius;
                max-height: 18em;
                overflow: auto;
                width: 100%;
              }

              table {
                border-collapse: collapse;
                width: 100%;

                thead {
                  background-color: $background20;
                  border-radius: $borderRadius $borderRadius 0 0;
                  font: $fontSizeFriz * 0.8 $fontFriz;

                  td {
                    border: $thin solid $background40;
                    border-bottom-color: $background30;
                    border-radius: $borderRadius / 2 $borderRadius / 2 0 0;
                    cursor: pointer;
                    padding: $marginStep / 2 0 $marginStep / 2 $marginStep / 2;
                    &:first-child {border-left: 0}
                    &:last-child {border-right: 0}

                    &[data-sort]::after {
                      background-image: url("../images/sort-arrow.png");
                      background-repeat: no-repeat;
                      background-size: contain;
                      content: "";
                      display:inline-block;
                      height: 1em;
                      margin-left: 0.25em;
                      position: relative;
                      top: 2px;
                      width: 1em;
                    }
                    &[data-sort="asc"]::after {
                      transform:scaleY(-1);
                    }

                    &:hover {
                      background-color: $columnHeaderHoverBackground;
                      box-shadow: inset 0 0 10px 10px $background20;
                    }
                  }
                }

                tbody {
                  tr {
                    transform: translateY(0);
                    a {bottom:0; left:0; position:absolute; right:0; top:0; z-index: 5;}
                    &:hover {
                      background: linear-gradient(90deg, $rowHoverStart 0%, $rowHoverEnd 20%, $rowHoverEnd 80%, $rowHoverStart 100%);
                    }
                  }

                  td {
                    overflow: hidden;
                    padding-left: $marginStep;
                    text-align: right;
                    text-overflow: ellipsis;
                    white-space: nowrap;

                    &:first-child {
                      font: $fontSizeFriz $fontFriz;
                      text-align: left;
                    }
                    &:last-child {
                      padding-right: $marginStep;
                    }
                  }
                }

                &:not([data-with-connected-realms]) tr[data-connected-realm] {
                  display: none;
                }
              }

              .silver {
                display: inline-block; width: $silverWidth;
              }
            }
          }
          &.auctions {
            background-color: $background10;

            flex: 6 1;
            margin-left: $marginStep;

            table {
              border-collapse: collapse;
              width: 100%;
              tr {
                background: linear-gradient(180deg, $background10 0%, $background15 100%);

                &[data-selected] {
                  background: linear-gradient(90deg,
                    transparentize($rowHighlightColor, 0.9) 0%,
                    transparentize($rowHighlightColor, 0.4) 40%,
                    transparentize($rowHighlightColor, 0.4) 60%,
                    transparentize($rowHighlightColor, 0.9) 100%
                  );
                }
                &[data-selected="part"] {
                  background: linear-gradient(90deg,
                    transparentize($rowHighlightColor, 0.9) 0%,
                    transparentize($rowHighlightColor, 0.66) 40%,
                    transparentize($rowHighlightColor, 0.66) 60%,
                    transparentize($rowHighlightColor, 0.9) 100%
                  );
                }

                &:hover {
                  background: linear-gradient(90deg, $rowHoverStart 0%, $rowHoverEnd 20%, $rowHoverEnd 80%, $rowHoverStart 100%);
                }
              }
              td {
                text-align: right;
                width: 50%;

                .silver {display: inline-block; width: $silverWidth}

                a {display:block}
              }
            }
          }
        }
      }
    }

    &[data-detail-mode] {
      .item {display: flex}
      .search-result {display: none}
    }
  }

  .bottom-bar {
    display: flex;
    font-size: 75%;
    justify-content: space-between;
    margin: $marginStep;
    margin-top: 0;

    color: $text30;
    a {
      color: $text30;
    }

    .last-updated {
      text-align: right;
    }
  }
}

.main, .shatari-tooltip {
  .gold, .silver, .copper {
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 1em;
    padding-right: 1em;
  }
  .gold {background-image: url("../images/coin-gold.png");}
  .silver {background-image: url("../images/coin-silver.png");}
  .copper {background-image: url("../images/coin-copper.png");}
}

.shatari-tooltip {
  .gold, .silver, .copper {
    background-position: right center;
  }
  .silver, .copper {
    display: inline-block;
    min-width: 1.5em;
  }
}

.wowhead-tooltip td {
  .shatari-tooltip {
    min-width: 15em;
    td.date {padding-bottom: 0.5em}
    td.price {color: $priceChart}
    td.quantity {color: $quantityChart}
    td:nth-child(2) {text-align: right}
  }

  .battle-pet-tooltip {
    display: flex;
    justify-content: space-between;
    > div:first-child {margin-right: 30px;
      img {
        height: 16px;
        margin-top: 2px;
        vertical-align: text-bottom;
        width: 16px;
      }
    }
    > div:last-child {
      margin-left: 30px;
      text-align: right;
      img {
        height: 39px;
        margin-top: 4px;
        width: 39px;
      }
    }

  }
}

picture.model-thumbnail img {
  background-color: $background10;
}

body > .wowhead-tooltip {max-width: 320px !important; width: auto !important;
  .wowhead-tooltip-powered {display: none !important}
}
