@font-face {
  font-family: "Arial Narrow";
  src: url("../fonts/arialn.ttf") format("truetype"); }
@font-face {
  font-family: "Friz Quadrata TT";
  src: url("../fonts/frizqt__.ttf") format("truetype"); }
* {
  scrollbar-width: thin;
  scrollbar-color: #4a4644 #161211; }
  *::-webkit-scrollbar {
    width: 16px; }
    *::-webkit-scrollbar-track {
      background: #161211; }
    *::-webkit-scrollbar-thumb {
      background-color: #4a4644;
      border-left: 6px solid #161211; }

body {
  align-items: center;
  background-color: #060100;
  color: #EEE;
  display: flex;
  font: 16px sans-serif;
  min-height: 400px;
  height: 100vh;
  margin: 0; }
  body a {
    color: #EEE; }

.main {
  background-color: #393433;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  height: 100vh;
  flex-direction: column;
  margin: 0 auto;
  min-height: 400px;
  max-height: 800px;
  max-width: 1050px;
  user-select: none;
  width: 100%; }
  .main .search-bar {
    display: flex;
    margin: 8px 8px 0; }
    .main .search-bar > * {
      flex: 1 1;
      margin: 8px; }
    .main .search-bar select, .main .search-bar input[type="text"], .main .search-bar input[type="number"], .main .search-bar > div.filter, .main .search-bar button {
      font: 12.8px "Friz Quadrata TT", sans-serif; }
    .main .search-bar select, .main .search-bar input[type="text"] {
      background-color: #282322;
      border: 2px solid;
      border-color: #060100 #060100 #4a4644;
      border-radius: 8px;
      color: #EEE;
      padding: 4px; }
    .main .search-bar div.text-container {
      flex: 5 1;
      position: relative; }
      .main .search-bar div.text-container .text-reset {
        background-image: url("../images/clear-search.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        bottom: 0;
        opacity: 0.5;
        position: absolute;
        right: 4px;
        top: 0;
        width: 1em;
        z-index: 10; }
        .main .search-bar div.text-container .text-reset:hover {
          opacity: 1; }
      .main .search-bar div.text-container input[type="text"] {
        background-image: linear-gradient(rgba(40, 35, 34, 0.5), rgba(40, 35, 34, 0.5)), url("../images/eyeglass.png");
        background-position: 3px center;
        background-repeat: no-repeat;
        background-size: 1.25em;
        box-sizing: border-box;
        height: 100%;
        padding-left: 2em;
        width: 100%; }
        .main .search-bar div.text-container input[type="text"]:placeholder-shown + .text-reset {
          display: none; }
      .main .search-bar div.text-container datalist {
        background-color: rgba(1, 7, 33, 0.8);
        border: 1px solid;
        border-color: #cfcfcf #777 #7f7f7f;
        border-radius: 4px;
        box-shadow: 0 0 1px 1px black;
        padding: 8px;
        z-index: 10;
        background-color: #282322;
        font: 12.8px "Friz Quadrata TT", sans-serif;
        max-height: calc((1.25em + 8px) * 4);
        left: 2em;
        overflow-y: auto;
        position: absolute; }
        .main .search-bar div.text-container datalist option {
          cursor: pointer;
          padding: 4px; }
          .main .search-bar div.text-container datalist option:empty {
            display: none; }
      .main .search-bar div.text-container[data-with-focus] datalist[data-with-items] {
        display: block; }
    .main .search-bar button, .main .search-bar > div.filter {
      background-color: #282322;
      border: 2px solid;
      border-color: #393433 #312c2a #161211;
      border-radius: 6px;
      color: #EEE;
      font: 12.8px "Friz Quadrata TT", sans-serif;
      text-shadow: 1px 1px 2px #000; }
      .main .search-bar button:hover, .main .search-bar > div.filter:hover {
        background-color: #8080ff;
        box-shadow: inset 0 0 10px 10px #282322; }
      .main .search-bar button.search, .main .search-bar > div.filter.search {
        background-color: #282322;
        border: 2px solid;
        border-color: #393433 #312c2a #161211;
        border-radius: 6px;
        color: #EEE;
        font: 12.8px "Friz Quadrata TT", sans-serif;
        text-shadow: 1px 1px 2px #000;
        background-color: #640000;
        border-color: #6e1414 #6e1414 #460000;
        color: #ffd100;
        font-size: 17.6px; }
        .main .search-bar button.search:hover, .main .search-bar > div.filter.search:hover {
          background-color: #8080ff;
          box-shadow: inset 0 0 10px 10px #282322; }
        .main .search-bar button.search:hover, .main .search-bar > div.filter.search:hover {
          background-color: #6c0d0d;
          box-shadow: none;
          color: #EEE; }
      .main .search-bar button.filter, .main .search-bar > div.filter.filter {
        align-items: center;
        display: flex;
        justify-content: center;
        padding-right: 1em;
        position: relative; }
        .main .search-bar button.filter::after, .main .search-bar > div.filter.filter::after {
          background-image: url("../images/triangle-arrow.png");
          background-size: contain;
          background-position: center center;
          background-repeat: no-repeat;
          bottom: 0;
          content: "";
          position: absolute;
          right: 4px;
          top: 0;
          width: 0.666em; }
        .main .search-bar button.filter div, .main .search-bar > div.filter.filter div {
          background-color: rgba(1, 7, 33, 0.8);
          border: 1px solid;
          border-color: #cfcfcf #777 #7f7f7f;
          border-radius: 4px;
          box-shadow: 0 0 1px 1px black;
          padding: 8px;
          z-index: 10;
          display: none;
          left: 8px;
          position: absolute;
          text-align: left;
          top: calc(100% + 2px);
          width: 200%; }
          .main .search-bar button.filter div input, .main .search-bar > div.filter.filter div input {
            margin: 0;
            position: relative;
            top: 2px; }
          .main .search-bar button.filter div input[type="number"], .main .search-bar > div.filter.filter div input[type="number"] {
            background-color: #282322;
            border: 2px solid;
            border-color: #060100 #060100 #4a4644;
            border-radius: 8px;
            color: #EEE;
            padding: 0 0.5em;
            text-align: right;
            width: 3em;
            -moz-appearance: textfield; }
            .main .search-bar button.filter div input[type="number"]::-webkit-outer-spin-button, .main .search-bar button.filter div input[type="number"]::-webkit-inner-spin-button, .main .search-bar > div.filter.filter div input[type="number"]::-webkit-outer-spin-button, .main .search-bar > div.filter.filter div input[type="number"]::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0; }
  .main .main-result {
    display: flex;
    flex: 1 1; }
    .main .main-result > div {
      margin: 8px; }
    .main .main-result .categories {
      bottom: 4px;
      left: 4px;
      overflow-y: auto;
      position: absolute;
      right: 4px;
      top: 4px; }
      .main .main-result .categories-parent {
        background-color: #161211;
        background: linear-gradient(180deg, #161211 0%, #201b1a 100%);
        border: 2px solid;
        border-color: #060100 #161211 #4a4644;
        border-radius: 8px;
        flex: 2 1;
        position: relative;
        margin: 8px 0 8px 8px;
        max-width: 200px;
        min-width: 150px; }
      .main .main-result .categories > div {
        background-color: #282322;
        border: 2px solid;
        border-color: #393433 #282322 #161211;
        border-radius: 8px;
        color: #CA4;
        cursor: pointer;
        font: 13.6px "Friz Quadrata TT", sans-serif;
        margin: 4px 0;
        overflow: hidden;
        padding: 4px 6px;
        text-overflow: ellipsis;
        text-shadow: 1px 1px 1px #000;
        white-space: nowrap; }
        .main .main-result .categories > div:first-child {
          margin-top: 0; }
        .main .main-result .categories > div[data-selected] {
          box-shadow: inset 0 0 8px 2px #ff6; }
        .main .main-result .categories > div:hover {
          border-color: #aaf;
          box-shadow: inset 0 0 20px 2px #8080ff;
          color: #EEE; }
      .main .main-result .categories .subcategory, .main .main-result .categories .subsubcategory {
        color: #DDD;
        margin-left: 16px; }
        .main .main-result .categories .subcategory:not([data-visible]), .main .main-result .categories .subsubcategory:not([data-visible]) {
          display: none; }
      .main .main-result .categories .subsubcategory {
        background-color: transparent;
        border: 0;
        border-radius: 0;
        padding-left: 16px;
        position: relative; }
        .main .main-result .categories .subsubcategory:after {
          background-image: url("../images/subsub.png");
          background-repeat: no-repeat;
          background-size: contain;
          bottom: 4px;
          content: '';
          left: 4px;
          position: absolute;
          top: 4px;
          width: 8px; }
        .main .main-result .categories .subsubcategory[data-selected] {
          box-shadow: none;
          background: linear-gradient(90deg, rgba(230, 179, 53, 0.1) 0%, rgba(230, 179, 53, 0.6) 40%, rgba(230, 179, 53, 0.6) 60%, rgba(230, 179, 53, 0.1) 100%); }
        .main .main-result .categories .subsubcategory:hover {
          box-shadow: none;
          background: linear-gradient(90deg, rgba(128, 128, 255, 0.1) 0%, rgba(128, 128, 255, 0.6) 40%, rgba(128, 128, 255, 0.6) 60%, rgba(128, 128, 255, 0.1) 100%); }
    .main .main-result .welcome {
      font: 16px "Friz Quadrata TT", sans-serif;
      padding: 8px; }
      .main .main-result .welcome h1:first-child {
        margin-top: 0; }
    .main .main-result .search-result, .main .main-result .item {
      flex: 7 1;
      font: 19px "Arial Narrow", sans-serif;
      position: relative; }
    .main .main-result .search-result {
      background-color: #161211;
      background: linear-gradient(180deg, #161211 0%, #201b1a 100%);
      border: 2px solid;
      border-color: #060100 #161211 #4a4644;
      border-radius: 8px; }
      .main .main-result .search-result .search-result-border {
        border: 1px solid #393433;
        border-top: 0;
        border-radius: 4px;
        bottom: 4px;
        left: 4px;
        overflow-y: auto;
        position: absolute;
        right: 4px;
        top: 4px; }
        .main .main-result .search-result .search-result-border:empty {
          display: none; }
      .main .main-result .search-result table {
        border-radius: 8px 8px 0 0;
        border-spacing: 0;
        width: 100%; }
        .main .main-result .search-result table thead {
          background-color: #282322;
          border-radius: 8px 8px 0 0;
          font: 12.8px "Friz Quadrata TT", sans-serif; }
          .main .main-result .search-result table thead td {
            border: 1px solid #4a4644;
            border-bottom-color: #393433;
            border-radius: 4px 4px 0 0;
            cursor: pointer;
            padding: 4px 0 4px 4px; }
            .main .main-result .search-result table thead td:first-child {
              border-left: 0; }
            .main .main-result .search-result table thead td:last-child {
              border-right: 0; }
            .main .main-result .search-result table thead td[data-sort]::after {
              background-image: url("../images/sort-arrow.png");
              background-repeat: no-repeat;
              background-size: contain;
              content: "";
              display: inline-block;
              height: 1em;
              margin-left: 0.25em;
              position: relative;
              top: 2px;
              width: 1em; }
            .main .main-result .search-result table thead td[data-sort="asc"]::after {
              transform: scaleY(-1); }
            .main .main-result .search-result table thead td:hover {
              background-color: #8080ff;
              box-shadow: inset 0 0 10px 10px #282322; }
        .main .main-result .search-result table tbody tr {
          transform: translateY(0); }
          .main .main-result .search-result table tbody tr a {
            bottom: 0;
            left: 0;
            position: absolute;
            right: 0;
            top: 0; }
          .main .main-result .search-result table tbody tr:hover {
            background: linear-gradient(90deg, rgba(128, 128, 255, 0) 0%, rgba(128, 128, 255, 0.6) 20%, rgba(128, 128, 255, 0.6) 80%, rgba(128, 128, 255, 0) 100%); }
        .main .main-result .search-result table tbody td {
          padding: 2px 8px; }
          .main .main-result .search-result table tbody td.price {
            text-align: right;
            width: 175px; }
            .main .main-result .search-result table tbody td.price .silver {
              display: inline-block;
              width: 35px; }
          .main .main-result .search-result table tbody td.name {
            max-width: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 50%; }
            .main .main-result .search-result table tbody td.name a {
              text-decoration: none; }
            .main .main-result .search-result table tbody td.name img {
              border: 1px solid #808080;
              border-right-color: #555;
              border-bottom-color: #555;
              border-radius: 4px;
              height: 17px;
              margin-right: 6px;
              position: relative;
              top: 2px;
              width: 17px; }
        .main .main-result .search-result table tbody[data-side-icon] td.name img {
          margin-left: 25px; }
        .main .main-result .search-result table tbody[data-side-icon] td.name[data-side-icon] img {
          margin-left: 0; }
    .main .main-result .item {
      display: none;
      flex-direction: column; }
      .main .main-result .item button {
        background-color: #282322;
        border: 2px solid;
        border-color: #393433 #312c2a #161211;
        border-radius: 6px;
        color: #EEE;
        font: 12.8px "Friz Quadrata TT", sans-serif;
        text-shadow: 1px 1px 2px #000;
        background-color: #640000;
        border-color: #6e1414 #6e1414 #460000;
        color: #ffd100;
        font-size: 17.6px;
        padding: 0 3em; }
        .main .main-result .item button:hover {
          background-color: #8080ff;
          box-shadow: inset 0 0 10px 10px #282322; }
        .main .main-result .item button:hover {
          background-color: #6c0d0d;
          box-shadow: none;
          color: #EEE; }
      .main .main-result .item .back-bar {
        align-items: flex-end;
        display: flex;
        justify-content: space-between;
        margin: 8px; }
        .main .main-result .item .back-bar .available {
          color: #CA4;
          font: 14.4px "Friz Quadrata TT", sans-serif;
          text-shadow: 1px 1px 1px #000; }
      .main .main-result .item .panels {
        display: flex;
        flex: 1 1; }
        .main .main-result .item .panels > div {
          border: 2px solid;
          border-color: #060100 #161211 #4a4644;
          border-radius: 8px;
          padding: 4px;
          position: relative; }
          .main .main-result .item .panels > div .scroller {
            bottom: 4px;
            left: 4px;
            overflow-y: auto;
            position: absolute;
            right: 4px;
            top: 4px; }
          .main .main-result .item .panels > div.details {
            background-color: #312c2a;
            background: linear-gradient(180deg, #282322 0%, #201b1a 100%);
            flex: 14 1; }
            .main .main-result .item .panels > div.details .title {
              align-items: center;
              background-color: #201b1a;
              border: 2px solid;
              border-color: #060100 #161211 #4a4644;
              border-radius: 8px;
              display: flex;
              font: 28px "Friz Quadrata TT", sans-serif;
              margin: 16px;
              padding: 16px;
              text-decoration: none; }
              .main .main-result .item .panels > div.details .title .icon {
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
                border-radius: 2em;
                display: inline-block;
                height: 2em;
                margin-right: 0.75em;
                position: relative;
                width: 2em; }
                .main .main-result .item .panels > div.details .title .icon:after {
                  background-image: url("../images/ring-1.png");
                  background-position: center center;
                  background-repeat: no-repeat;
                  background-size: contain;
                  bottom: -0.5em;
                  content: "";
                  left: -0.5em;
                  position: absolute;
                  right: -0.5em;
                  top: -0.5em; }
                .main .main-result .item .panels > div.details .title .icon[data-quality="0"]:after {
                  background-image: url("../images/ring-0.png"); }
                .main .main-result .item .panels > div.details .title .icon[data-quality="2"]:after {
                  background-image: url("../images/ring-2.png"); }
                .main .main-result .item .panels > div.details .title .icon[data-quality="3"]:after {
                  background-image: url("../images/ring-3.png"); }
                .main .main-result .item .panels > div.details .title .icon[data-quality="4"]:after {
                  background-image: url("../images/ring-4.png"); }
                .main .main-result .item .panels > div.details .title .icon[data-quality="5"]:after {
                  background-image: url("../images/ring-5.png"); }
          .main .main-result .item .panels > div.auctions {
            background-color: #161211;
            background: linear-gradient(180deg, #161211 0%, #201b1a 100%);
            flex: 6 1;
            margin-left: 8px; }
            .main .main-result .item .panels > div.auctions table {
              width: 100%; }
              .main .main-result .item .panels > div.auctions table td {
                text-align: right;
                width: 50%; }
                .main .main-result .item .panels > div.auctions table td .silver {
                  display: inline-block;
                  width: 35px; }
                .main .main-result .item .panels > div.auctions table td a {
                  display: block; }
    .main .main-result[data-detail-mode] .item {
      display: flex; }
    .main .main-result[data-detail-mode] .search-result {
      display: none; }
  .main .bottom-bar {
    display: flex;
    justify-content: flex-end;
    margin: 8px;
    margin-top: 0; }
    .main .bottom-bar .links {
      font-size: 75%;
      margin: 0 8px; }
  .main .gold, .main .silver, .main .copper {
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 1em;
    padding-right: 1em; }
  .main .gold {
    background-image: url("../images/coin-gold.png"); }
  .main .silver {
    background-image: url("../images/coin-silver.png"); }
  .main .copper {
    background-image: url("../images/coin-copper.png"); }

.wowhead-tooltip {
  max-width: 320px !important;
  width: auto !important; }
  .wowhead-tooltip-powered {
    display: none !important; }

/*# sourceMappingURL=main.css.map */
